<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectDAO">

	<select id="getProject" parameterType="project" resultType="project">
	
		SELECT * 
		FROM project
		WHERE projectno = #{projectNo}
		
	</select>
	
<!-- 
	<resultMap type="#modelname" id="YourResultSet">
		<id property="param1" column="columnname1" />
		<result property="param2" column="columnname2" />
		<result property="param3" column="columnname3" />
	</resultMap>


	<select id="getProjectList" resultMap="YourResultSet">
		
	</select>
	
-->

	<insert id="insertProject" parameterType="project">
	
	<!--
		<selectKey keyProperty="projectNo" resultType="int" order="BEFORE">
			select PROJECT_SEQ.nextval as projectNo from dual
		</selectKey> 
	-->
		<selectKey keyProperty="projectNo" resultType="int" order="AFTER">
			 SELECT project_seq.currval FROM dual
		</selectKey>
				
	<!--	INSERT INTO project(projectno, creator, email, projectTitle, goalMoney, category, projectSubTitle, projectstory, projectSummary, projectcaution, status, informationagree, startdate, enddate, writestatus)
		VALUES (project_seq.nextval, #{creator}, #{email}, #{projectTitle}, #{goalMoney}, #{category}, #{projectSubTitle}, #{projectStory}, #{projectSummary}, #{projectCaution}, #{status}, #{informationAgree}, #{startDate}, #{endDate}, #{writeStatus}) -->
		INSERT INTO project(projectno, creator, email)
		VALUES (project_seq.nextval, #{creator}, #{email})
		
		
	</insert>


<!-- <select id="insertProject" parameterType="project" resultType="int">
		
		INSERT INTO project(projectNo, creator, email, projectTitle, goalMoney, category, projectSubTitle, projectstory, projectsummary, projectcaution, status, informationagree, startdate, enddate, writestatus)
		VALUES ((SELECT nvl(max(projectNo), 0) + 1 from project), #{creator}, #{email}, #{projectTitle}, #{goalMoney}, #{category}, #{projectSubTitle}, #{projectStory}, #{projectsummary}, #{projectCaution}, #{status}, #{informationAgree}, #{startDate}, #{endDate}, #{writeStatus})

	    SELECT @@IDENTITY AS seq
	</select> --> 
	
	<update id="updateProject" parameterType="project">
		UPDATE project
		SET creator = #{creator}, projectTitle = #{projectTitle},  goalmoney = #{goalMoney}, projectMainImage = #{projectMainImage}, category = #{category}, projectsubtitle = #{projectSubTitle}, projectstory = #{projectStory}, projectsummary = #{projectSummary}, projectcaution = #{projectCaution}, status = #{status}, informationagree = #{informationAgree}, startDate = #{startDate}, endDate = #{endDate}, writestatus = #{writeStatus} 																																									  
		WHERE projectNo = #{projectNo}
	</update>
	
<!--
	<delete id="deleteSomething" parameterType="int">
		DELETE FROM tablename1 WHERE
		columnname1 = #{param1}
	</delete>
 -->

</mapper>
