<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminStatisticsDAO">

	<select id="getProjectSuccessRatioPerMonth" parameterType="adminStatistics" resultType="adminStatistics">
	
		SELECT   count(CASE  WHEN   enddate between '${yearr}/01/01' and '${yearr}/02/01' and goalmoney <![CDATA[<=]]> fundingmoney then 1  end ) as "success1", 
      			 count(CASE  WHEN   enddate between '${yearr}/02/01' and '${yearr}/03/01' and goalmoney <![CDATA[<=]]> fundingmoney then 1  end ) as "success2",
       			 count(CASE  WHEN   enddate between '${yearr}/03/01' and '${yearr}/04/01' and goalmoney <![CDATA[<=]]> fundingmoney then 1  end ) as "success3",
      			 count(CASE  WHEN   enddate between '${yearr}/04/01' and '${yearr}/05/01' and goalmoney <![CDATA[<=]]> fundingmoney then 1  end ) as "success4",
     			 count(CASE  WHEN   enddate between '${yearr}/05/01' and '${yearr}/06/01' and goalmoney <![CDATA[<=]]> fundingmoney then 1  end ) as "success5",
    			 count(CASE  WHEN   enddate between '${yearr}/06/01' and '${yearr}/07/01' and goalmoney <![CDATA[<=]]> fundingmoney then 1  end ) as "success6",
     			 count(CASE  WHEN   enddate between '${yearr}/07/01' and '${yearr}/08/01' and goalmoney <![CDATA[<=]]> fundingmoney then 1  end ) as "success7",
     			 count(CASE  WHEN   enddate between '${yearr}/08/01' and '${yearr}/09/01' and goalmoney <![CDATA[<=]]> fundingmoney then 1  end ) as "success8",
     			 count(CASE  WHEN   enddate between '${yearr}/09/01' and '${yearr}/10/01' and goalmoney <![CDATA[<=]]> fundingmoney then 1  end ) as "success9",
      			 count(CASE  WHEN   enddate between '${yearr}/10/01' and '${yearr}/11/01' and goalmoney <![CDATA[<=]]> fundingmoney then 1  end ) as "success10",
      			 count(CASE  WHEN   enddate between '${yearr}/11/01' and '${yearr}/12/01' and goalmoney <![CDATA[<=]]> fundingmoney then 1  end ) as "success11",
      			 count(CASE  WHEN   enddate between '${yearr}/12/01' and to_date('${yearr}/12/31 23:59:59','yy/mm/dd hh24:mi:ss') and goalmoney <![CDATA[<=]]> fundingmoney then 1  end ) as "success12",
       
       			 count(CASE  WHEN   enddate between '${yearr}/01/01' and '${yearr}/02/01' and goalmoney <![CDATA[>=]]> fundingmoney then 2  end ) as "fail1", 
     			 count(CASE  WHEN   enddate between '${yearr}/02/01' and '${yearr}/03/01' and goalmoney <![CDATA[>=]]> fundingmoney then 2  end ) as "fail2",
     			 count(CASE  WHEN   enddate between '${yearr}/03/01' and '${yearr}/04/01' and goalmoney <![CDATA[>=]]> fundingmoney then 2  end ) as "fail3",
      			 count(CASE  WHEN   enddate between '${yearr}/04/01' and '${yearr}/05/01' and goalmoney <![CDATA[>=]]> fundingmoney then 2  end ) as "fail4",
       			 count(CASE  WHEN   enddate between '${yearr}/05/01' and '${yearr}/06/01' and goalmoney <![CDATA[>=]]> fundingmoney then 2  end ) as "fail5",
      			 count(CASE  WHEN   enddate between '${yearr}/06/01' and '${yearr}/07/01' and goalmoney <![CDATA[>=]]> fundingmoney then 2  end ) as "fail6",
      			 count(CASE  WHEN   enddate between '${yearr}/07/01' and '${yearr}/08/01' and goalmoney <![CDATA[>=]]> fundingmoney then 2  end ) as "fail7",
      			 count(CASE  WHEN   enddate between '${yearr}/08/01' and '${yearr}/09/01' and goalmoney <![CDATA[>=]]> fundingmoney then 2  end ) as "fail8",
      			 count(CASE  WHEN   enddate between '${yearr}/09/01' and '${yearr}/10/01' and goalmoney <![CDATA[>=]]> fundingmoney then 2  end ) as "fail9",
      			 count(CASE  WHEN   enddate between '${yearr}/10/01' and '${yearr}/11/01' and goalmoney <![CDATA[>=]]> fundingmoney then 2  end ) as "fail10",
     		     count(CASE  WHEN   enddate between '${yearr}/11/01' and '${yearr}/12/01' and goalmoney <![CDATA[>=]]> fundingmoney then 2  end ) as "fail11",
      			 count(CASE  WHEN   enddate between '${yearr}/12/01' and to_date('${yearr}/12/31 23:59:59','yy/mm/dd hh24:mi:ss') and goalmoney <![CDATA[>=]]> fundingmoney then 2  end ) as "fail12"
FROM project 
	
	</select>

<select id="getProjectSuccessRatioPerYear" parameterType="adminStatistics" resultType="adminStatistics">
	
		SELECT sum(case when enddate like '${yearr}/%' and goalmoney <![CDATA[<=]]>  fundingmoney then 1 end) as "successyear",
     		   sum(case when enddate like '${yearr}/%' and goalmoney <![CDATA[>=]]>  fundingmoney then 2 end) as "failyear"
		FROM project
		
</select>

<select id="getProjectSuccessRatioTotalYear" parameterType="adminStatistics" resultType="adminStatistics">
	
		SELECT count(case when enddate <![CDATA[<=]]> sysdate and  goalmoney <![CDATA[<=]]>  fundingmoney then 1 end) as "successtotal",
     		   count(case when enddate <![CDATA[<=]]> sysdate and  goalmoney <![CDATA[>=]]>  fundingmoney then 2 end) as "failtotal"
		FROM project
		
</select>

<select id="getFundingMoneyPerMonth" parameterType="adminStatistics" resultType="adminStatistics">

SELECT  
	nvl(sum(CASE  WHEN   enddate between '${yearr}/01/01' and '${yearr}/02/01' and goalmoney <![CDATA[<=]]> fundingmoney and to_char(sysdate,'yy/mm/dd') <![CDATA[>=]]> enddate then fundingmoney  end ),0) as "m1",
    nvl(sum(CASE  WHEN   enddate between '${yearr}/02/01' and '${yearr}/03/01' and goalmoney <![CDATA[<=]]> fundingmoney and to_char(sysdate,'yy/mm/dd') <![CDATA[>=]]> enddate then fundingmoney  end ),0) as "m2",
    nvl(sum(CASE  WHEN   enddate between '${yearr}/03/01' and '${yearr}/04/01' and goalmoney <![CDATA[<=]]> fundingmoney and to_char(sysdate,'yy/mm/dd') <![CDATA[>=]]> enddate then fundingmoney  end ),0) as "m3",
    nvl(sum(CASE  WHEN   enddate between '${yearr}/04/01' and '${yearr}/05/01' and goalmoney <![CDATA[<=]]> fundingmoney and to_char(sysdate,'yy/mm/dd') <![CDATA[>=]]> enddate then fundingmoney  end ),0) as "m4",
    nvl(sum(CASE  WHEN   enddate between '${yearr}/05/01' and '${yearr}/06/01' and goalmoney <![CDATA[<=]]> fundingmoney and to_char(sysdate,'yy/mm/dd') <![CDATA[>=]]> enddate then fundingmoney  end ),0) as "m5",
    nvl(sum(CASE  WHEN   enddate between '${yearr}/06/01' and '${yearr}/07/01' and goalmoney <![CDATA[<=]]> fundingmoney and to_char(sysdate,'yy/mm/dd') <![CDATA[>=]]> enddate then fundingmoney  end ),0) as "m6",
    nvl(sum(CASE  WHEN   enddate between '${yearr}/07/01' and '${yearr}/08/01' and goalmoney <![CDATA[<=]]> fundingmoney and to_char(sysdate,'yy/mm/dd') <![CDATA[>=]]> enddate then fundingmoney  end ),0) as "m7",
    nvl(sum(CASE  WHEN   enddate between '${yearr}/08/01' and '${yearr}/09/01' and goalmoney <![CDATA[<=]]> fundingmoney and to_char(sysdate,'yy/mm/dd') <![CDATA[>=]]> enddate then fundingmoney  end ),0) as "m8",
    nvl(sum(CASE  WHEN   enddate between '${yearr}/09/01' and '${yearr}/10/01' and goalmoney <![CDATA[<=]]> fundingmoney and to_char(sysdate,'yy/mm/dd') <![CDATA[>=]]> enddate then fundingmoney  end ),0) as "m9",
    nvl(sum(CASE  WHEN   enddate between '${yearr}/10/01' and '${yearr}/11/01' and goalmoney <![CDATA[<=]]> fundingmoney and to_char(sysdate,'yy/mm/dd') <![CDATA[>=]]> enddate then fundingmoney  end ),0) as "m10",
    nvl(sum(CASE  WHEN   enddate between '${yearr}/11/01' and '${yearr}/12/01' and goalmoney <![CDATA[<=]]> fundingmoney and to_char(sysdate,'yy/mm/dd') <![CDATA[>=]]> enddate then fundingmoney  end ),0) as "m11",
    nvl(sum(CASE  WHEN   enddate between '${yearr}/12/01' and '${yearr}/12/31' and goalmoney <![CDATA[<=]]> fundingmoney and to_char(sysdate,'yy/mm/dd') <![CDATA[>=]]> enddate then fundingmoney  end ),0) as "m12",
    nvl(sum(CASE  WHEN   enddate between '${yearr}/01/01' and '${yearr}/12/31' and goalmoney <![CDATA[<=]]> fundingmoney and to_char(sysdate,'yy/mm/dd') <![CDATA[>=]]> enddate then fundingmoney  end ),0) as "sumfunding"

FROM project


</select>


</mapper>
