<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminCSBoardDAO">

	<!-- 어드민이 문의사항 게시판 전체글 목록을 보는 메소드 -->
	<select id="getCSBoardList" resultType="csboard" parameterType="csboard">
		SELECT * FROM csboard ORDER BY csid desc
	</select>
	
	<!-- 어드민이 문의사항 글 한개의 상세보기 메소드 -->
	<select id="getCSBoard" resultType="csboard" parameterType="csboard">
		SELECT * FROM csboard WHERE csid = #{csid}
	</select>
	
	<!-- 답변하면 답변처리 완료로 바꿔주기위한 메소드 -->
	<update id="updateReplyCheckCSBoard" parameterType="csboard">
		UPDATE csboard
		SET replyProgress = 'Y' WHERE csid = #{csid}
	</update>
	
	<!-- 어드민 답변글 저장 -->
	<insert id="insertAdminCSBoard"  parameterType="adminCSBoard">
		INSERT INTO adminCSBoard(csid,adminID,adminCSTitle,adminCSContent) 
		VALUES(adminCSBoard_seq.nextval, #{adminID}, #{adminCSTitle}, #{adminCSContent})
	</insert>
	
	

</mapper>
