<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminMainViewDAO">

	<select id="getMainViewProjectStatusList" resultType="project" parameterType="adminMainView">
	select * from project where status = #{status}
	</select>	
	
	<select id="getMainViewProjectFundingList" resultType="project" parameterType="adminMainView">
	select * from project where funding = #{funding}
	</select>
	

</mapper>
