<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DeliveryAddressDAO">
    
	<insert id="insertDeliveryAddress" parameterType="deliveryAddress">
	
		<selectKey keyProperty="deliveryAddressNo" resultType="int" order="AFTER">
			SELECT deliveryAddressNo_seq.currval FROM dual
		</selectKey>
	
		INSERT INTO deliveryAddress (deliveryAddressNo, deliveryAddressName, email, name, phone, zipcode, roadAddress, detailedAddress, shippingNote)
		VALUES (deliveryAddressNo_seq.nextval, #{deliveryAddressName }, #{email}, #{name}, #{phone}, #{zipcode}, #{roadAddress}, #{detailedAddress}, #{shippingNote})
	</insert>
	
	<update id="updateDeliveryAddress" parameterType="deliveryAddress" >
		UPDATE deliveryAddress
		SET name = #{name }, phone = #{phone }, deliveryAddressName = #{deliveryAddressName }, zipcode = #{zipcode }, roadAddress = #{roadAddress }, detailedAddress = #{detailedAddress }, shippingNote = #{shippingNote }
		WHERE deliveryAddressNo = #{deliveryAddressNo }
	</update>
	
	
	
	<select id="getDeliveryAddress" parameterType="deliveryAddress" resultType="deliveryAddress">
		SELECT * FROM deliveryAddress
		WHERE deliveryAddressNo = #{deliveryAddressNo}
	</select>
	
	
	
	<select id="getDeliveryAddressListByEmail" parameterType="member" resultType="deliveryAddress">
		SELECT * FROM deliveryAddress
		WHERE email = #{email}
		
	</select>
	
	

</mapper>