<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DeliveryAddressDAO">
    
	<insert id="insertDeliveryAddress" parameterType="deliveryAddress">
	
		<selectKey keyProperty="deliveryAddressNo" resultType="int" order="AFTER">
			SELECT deliveryAddressNo_seq.currval FROM dual
		</selectKey>
	
		INSERT INTO deliveryAddress (deliveryAddressNo, email, zipcode, roadAddress, detailedAddress, shippingNote)
		VALUES (deliveryAddressNo_seq.nextval, #{email}, #{zipcode}, #{roadAddress}, #{detailedAddress}, #{shippingNote})
	</insert>
	
	<update id="updateDeliveryAddress" parameterType="deliveryAddress" >
		UPDATE deliveryAddress
		SET (zipcode=#{zipcode},address1=#{address1},address2=#{address2})
		WHERE email=#{email}
	</update>
	
	<select id="getDeliveryAddress" parameterType="deliveryAddress" resultType="deliveryAddress">
		SELECT * FROM deliveryAddress
		WHERE deliveryAddressNo = #{deliveryAddressNo}
	</select>

</mapper>