<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberDAO">

	<select id="getMember" parameterType="member" resultType="member">
		SELECT * 
		FROM member 
		WHERE email= #{email}
	</select>
	<select id="getDeleteMember" parameterType="member" resultType="member">
		SELECT *
		FROM member
		WHERE email=#{email}
	</select>
	
	<insert id="insertSocialMember" parameterType="member">
		INSERT INTO member ( email, password, name ,socialjoined)
		VALUES (#{email},#{password},#{name},'Y')
	</insert>
   
	<insert id="insertMember" parameterType="member">
      INSERT INTO member (EMAIL,PASSWORD,NAME)
      VALUES(#{email},#{password},#{name})
   </insert>
   
   <insert id="saveImage" parameterType="member">
   	UPDATE member 
   	SET myImage = #{myImage} 
   	WHERE email = #{email}
   
   </insert>
   
   
   <update id="updateMember" parameterType="member">
   	UPDATE member
   	SET name = #{name}, password = #{password} , phone= #{ phone , jdbcType=VARCHAR } , introduce= #{ introduce , jdbcType=VARCHAR } 
   	WHERE email=#{email}
   
   </update>
   
   <delete id="deleteMember" parameterType="member">
   DELETE deletemember
   WHERE email=#{email}
   </delete>

	<insert id="insertabledeletemember" parameterType="member">
	INSERT INTO deletemember (email, password, name, phone, introduce, report, position, socialjoined)
	values (#{email},#{password},#{name},#{phone},#{introduce},#{report},#{position},#{socialjoined})
	
	</insert>

    <delete id="deleteDeleteMemberTableMember"  >
    DELETE deletemember WHERE deleteday <![CDATA[<=]]>sysdate
    </delete>



</mapper>
