<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberActivityDAO">

	<select id="projectLikeCount" parameterType="memberActivity"
		resultType="_int">
		SELECT COUNT likecount
		FROM memberactivity
		WHERE (likecount='y' AND #{projectno})

	</select>

	<select id="projectReportCount" parameterType="memberActivity"
		resultType="_int">
		SELECT COUNT reportcount
		FROM memberactivity
		WHERE (reportcount='y' AND #{projectno})

	</select>

	<select id="projectReservationCount"
		parameterType="memberActivity" resultType="_int">
		SELECT COUNT reservationcount
		FROM memberactivity
		WHERE (reservationcount='y' AND #{projectno})

	</select>


	<select id="memberLikeCount" parameterType="memberActivity"
		resultType="_int">
		SELECT COUNT likecount
		FROM memberactivity
		WHERE (likecount='y' AND #{eamil})
	</select>

	<select id="memberReportCount" parameterType="memberActivity"
		resultType="_int">
		SELECT COUNT likecount
		FROM memberactivity
		WHERE (likecount='y' AND #{eamil})
	</select>

	<select id="memberReservationCount"
		parameterType="memberActivity" resultType="_int">
		SELECT COUNT likecount
		FROM memberactivity
		WHERE (likecount='y' AND #{eamil})
	</select>

	<insert id="insertMemberActivity"
		parameterType="memberActivity">
		INSERT INTO memberactivity
		FROM
		(#{email},#{projectno},#{likeCount},#{reportCount},#{reservationCount})
	</insert>

	<update id="updateMemberActivity"
		parameterType="memberActivity">
		UPDATE memberActivity
		SET (likeCount=#{likeCount}, reprotCount=#{reportCount} ,
		reservationCount=#{reservationCount})
		WHERE (email=#{email} AND projectboardno=${projectboarno})
	</update>

	<delete id="deleteMemberActivity"
		parameterType="memberActivity">
		DELETE memberActivity
		WHERE (email=#{email} AND projectboardno=${projectboarno})

	</delete>
</mapper>