<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeDAO">

	<!-- <select id="getSomething" parameterType="int" resultType="#package.#modelname">
		
	</select> -->

	<!-- <resultMap type="#modelname" id="YourResultSet">
		<id property="param1" column="columnname1" />
		<result property="param2" column="columnname2" />
		<result property="param3" column="columnname3" />
	</resultMap> -->
	
	<select id="selectEventNoticeList" resultType="notice" parameterType="notice">
		SELECT * FROM notice WHERE noticeCategory = #{noticeCategory}
	</select>
	
	<select id="selectNoticeList" resultType="notice" parameterType="notice">
		SELECT * FROM notice WHERE noticeCategory = #{noticeCategory}
	</select>
	
	<select id="selectEntireNoticeList" resultType="notice" parameterType="notice">
		SELECT * FROM notice ORDER BY noticeNo desc
	</select>

	<select id="selectNotice" resultType="notice" parameterType="notice">
		SELECT * FROM notice WHERE noticeNo = #{noticeNo}
	</select>

	<insert id="insertNotice" parameterType="notice">
		INSERT INTO NOTICE(noticeNo, adminId, noticeTitle, noticeContents, NoticeDate) 
		VALUES(notice_seq.nextval, #{adminId}, #{noticeTitle}, #{noticeContent}, #{noticeDate})
	</insert>

	<update id="updateNotice" parameterType="notice">
		UPDATE NOTICE 
		SET NOTICETITLE = #{noticeTitle}, NOTICECONTENT = #{noticeContent} WHERE noticeNo = #{noticeNo}
	</update>

	<delete id="deleteNotice" parameterType="int">
		DELETE FROM NOTICE WHERE noticeNo = #{noticeNO}
	</delete>

</mapper>
