<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectDAO">

	<select id="getProjectListByEmail" parameterType="project" resultType="project">
	
		SELECT * 
		FROM project
		WHERE email = #{email}
		
	</select>
	
<!-- 
	<resultMap type="#modelname" id="YourResultSet">
		<id property="param1" column="columnname1" />
		<result property="param2" column="columnname2" />
		<result property="param3" column="columnname3" />
	</resultMap>


	<select id="getProjectList" resultMap="YourResultSet">
		
	</select>
	
-->


 	<resultMap type="projectIntroduceImage" id="projectIntroduceImage">
		<result column="projectIntroduceImageNo" property="projectIntroduceImageNo" />
		<result column="projectNo" property="projectNo" />
		<result column="projectIntroduceImage" property="projectIntroduceImage" />
	</resultMap>


<!-- 	<resultMap type="project" id="project">
	
		<result column="projectNo" property="projectNo" />
		<result column="creator" property="creator"/>
		<result column="email" property="email" />
		
		
		<result column="goalMoney" property="goalMoney" />
		<result column="projectMainImage" property="projectMainImage" />
		<result column="projectTitle" property="projectTitle" />
		<result column="projectSubTitle" property="projectSubTitle" />
		<result column="category" property="category" />
		<result column="startDate" property="startDate"/>
		<result column="endDate" property="endDate" />
		
		<result column="projectSummary" property="projectSummary" />
		<result column="projectCaution" property="projectCaution" />
		<result column="projectIntroduceVideo" property="projectIntroduceVideo" />
		<result column="projectStory" property="projectStory" />
		
		<result column="status" property="status" />
		<result column="writeStatus" property="writeStatus" />
		
		<collection property="projectIntroduceImage" resultMap="projectIntroduceImage" />
		
	</resultMap>
	

 	<select id="getProject" parameterType="project"  resultMap="project">
 -->
 	<select id="getProject" parameterType="project" resultType="project">
		<!--  select project.*, projectIntroduceImage.* from(select * from project where projectNo = #{projectNo}) project join projectIntroduceImage on projectIntroduceImage.projectNo = project.projectNo
		-->
		SELECT *
		FROM project
		where projectNo = #{projectNo}	
	</select>



	<insert id="insertProject" parameterType="project">
	
	<!--
		<selectKey keyProperty="projectNo" resultType="int" order="BEFORE">
			select PROJECT_SEQ.nextval as projectNo from dual
		</selectKey> 
	-->
		<selectKey keyProperty="projectNo" resultType="int" order="AFTER">
			 SELECT project_seq.currval FROM dual
		</selectKey>
				
		INSERT INTO project(projectno, creator, email, projectTitle, goalMoney, category, projectSubTitle, projectSummary, projectcaution, projectIntroduceVideo, projectStory,writestatus)
		VALUES (project_seq.nextval, #{creator}, #{email}, #{projectTitle}, #{goalMoney}, #{category}, #{projectSubTitle}, #{projectSummary}, #{projectIntroduceVideo}, #{projectStory}, #{projectCaution}, #{writeStatus})
		
	</insert>


<!-- <select id="insertProject" parameterType="project" resultType="int">
		
		INSERT INTO project(projectNo, creator, email, projectTitle, goalMoney, category, projectSubTitle, projectsummary, projectcaution, status, informationagree, startdate, enddate, writestatus)
		VALUES ((SELECT nvl(max(projectNo), 0) + 1 from project), #{creator}, #{email}, #{projectTitle}, #{goalMoney}, #{category}, #{projectSubTitle}, #{projectsummary}, #{projectCaution}, #{status}, #{informationAgree}, #{startDate}, #{endDate}, #{writeStatus})

	    SELECT @@IDENTITY AS seq
	</select> -->
	
	<update id="updateProject" parameterType="project">
		UPDATE project
		<if test = " endDate != null">
			SET creator = #{creator}, projectTitle = #{projectTitle},  goalMoney = #{goalMoney}, projectMainImage = #{projectMainImage}, category = #{category}, projectsubtitle = #{projectSubTitle}, projectsummary = #{projectSummary}, projectcaution = #{projectCaution}, projectIntroduceVideo = #{projectIntroduceVideo}, projectStory = #{projectStory}, status = #{status}, informationagree = #{informationAgree}, endDate = #{endDate}, writestatus = #{writeStatus} 																																									  
		</if>
		<if test = "endDate == null">
			SET creator = #{creator}, projectTitle = #{projectTitle},  goalMoney = #{goalMoney}, projectMainImage = #{projectMainImage}, category = #{category}, projectsubtitle = #{projectSubTitle}, projectsummary = #{projectSummary}, projectcaution = #{projectCaution}, projectIntroduceVideo = #{projectIntroduceVideo}, projectStory = #{projectStory}, status = #{status}, informationagree = #{informationAgree}, writestatus = #{writeStatus} 																																									  
		</if>
		WHERE projectNo = #{projectNo}
	</update>
	

	<delete id="deleteProject" parameterType="project">
		DELETE FROM project WHERE
		projectNo = #{projectNo}
	</delete>


</mapper>
