<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="projectAskMessageDAO">
 	
 	<!-- 프로젝트 문의글 등록 -->
 	<insert id="insertProjectAskContents"  parameterType="projectAskMessage">
		INSERT INTO projectAskMessage(projectAskNo, email, creator,projectAskContentsTitle, projectAskContents, projectAskref, projectAskDate, projectNo) 
		VALUES(projectAskMessage_seq.nextval, #{email},#{creator},#{projectAskContentsTitle},#{projectAskContents}, projectAskMessage_seq.currval, sysdate, #{projectNo} )
	</insert>
	
	<!-- 답변글 등록 (업데이트로 해줘야해) 그러면서 답변상태도 변경 -->
	<update id="updateProjectAskReplyContentsStatus" parameterType="projectAskMessage">
		UPDATE projectAskMessage 
		SET 
		projectAskReplyContentsTitle = #{projectAskReplyContentsTitle},
		projectAskReplyContents = #{projectAskReplyContents},
		projectAskReplyStatus = #{projectAskReplyStatus},
		projectAskReplyDate = sysdate WHERE projectAskNo = #{projectAskNo}
	</update>
	
	<!-- 선택한 문의글 가져오기  -->
	<select id="getChoiceProjectAskMessage" resultType="projectAskMessage" parameterType="projectAskMessage">
		SELECT * FROM projectAskMessage WHERE projectAskNo = #{projectAskNo}
	</select>
	
	<!-- 그아이디 관련 전체 문의글 가져오기 -->
	<select id="getEntireProjectAskMessageList" resultType="projectAskMessage" parameterType="projectAskMessage">
		SELECT * FROM projectAskMessage where email = #{email}
	
	</select>
	
	<!-- projectAskMessage테이블 전체리스트 가져오기 -->
	<select id="getProjectAskMessage" resultType="projectAskMessage" parameterType="projectAskMessage">
		SELECT * FROM projectAskMessage 
	
	</select>
	
	<!-- 멤버테이블과 메이커멤버테이블을 조인하여 메이커(창작자명) 가져오기 -->
	
	<resultMap type="creator" id="creator">
		<result column="creator" property="creator" />
		<result column="email" property="email" />
	</resultMap>

	<resultMap type="member" id="member">
		<result column="email" property="email" />
		<result column="name" property="name" />
		<collection property="creator" resultMap="creator"></collection>
	</resultMap>
 	
 	<select id="getMakerMemberCreator" parameterType="member"  resultMap="member">
		select creator.creator,member.name, member.email from member join creator on creator.email = #{email} and member.email= #{email}
	</select>
	
	<resultMap type="project" id="project">
		<result column="projectNo" property="projectNo" />
		<result column="projectMainImage" property="projectMainImage" />
		<result column="projectTitle" property="projectTitle" />
		
	</resultMap>

	<resultMap type="projectAskMessage" id="projectAskMessage">
		<result column="projectAskNo" property="projectAskNo" />
		<result column="email" property="email" />
		<result column="creator" property="creator" />
		<result column="projectAskContents" property="projectAskContents" />
		<result column="projectAskReplyStatus" property="projectAskReplyStatus" />
		<result column="projectAskRef" property="projectAskRef" />
		<result column="projectAskStep" property="projectAskStep" />
		<result column="projectAskContentsTitle" property="projectAskContentsTitle" />
		<result column="projectAskDate" property="projectAskDate" />
		<result column="projectAskReplyContents" property="projectAskReplyContents" />
		<result column="projectAskReplyDate" property="projectAskReplyDate" />
		<result column="projectAskReplyContentsTitle" property="projectAskReplyContentsTitle" />
		<result column="projectNo" property="projectNo" />
		
		<collection property="project" resultMap="project"></collection>
	</resultMap>
	
	<!-- 메이커 관련 전체 문의글 가져오기 -->
	<select id="getEntireProjectMakerAskMessageList" parameterType="projectAskMessage"  resultMap="projectAskMessage">
		select pm.*, p.* from projectAskMessage pm join project p on p.projectNo = pm.projectNo where pm.creator = #{creator}
	</select>
	

	
	
 </mapper>