<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReportDAO">
	
	<insert id="insertReport" parameterType="report">
		insert into report(reportNo,email,projectNo,reason,reasonSelect) 
		values(report_seq.nextval,#{email},#{projectNo},#{reason,jdbcType=VARCHAR},#{reasonSelect})
	</insert>
	
	<select id="getReportList" resultType="report">
		SELECT * FROM report
	</select>

	<select id="getReport" parameterType="report" resultType="report">
		SELECT * FROM report WHERE reportNo = #{reportNo}
	</select>

</mapper>
