<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RewardSelectionDAO">

	<insert id="insertRewardSelection" parameterType="rewardSelection">

		<selectKey keyProperty="orderNo" resultType="int" order="AFTER">
			 SELECT orderno_seq.currval FROM dual
		</selectKey>
		
		<if test="orderNo == 0">
			INSERT INTO rewardselection(selectrewardno, orderNo, rewardNo, paymentAmount, orderAmount, shippingFee)
			VALUES (rewardselection_seq.nextval, orderno_seq.nextval, #{rewardNo}, #{paymentAmount}, #{orderAmount}, #{shippingFee})
		</if>
		<if test="orderNo != 0">
			INSERT INTO rewardselection(selectrewardno, orderNo, rewardNo, paymentAmount, orderAmount, shippingFee)
			VALUES (rewardselection_seq.nextval, #{orderNo}, #{rewardNo}, #{paymentAmount}, #{orderAmount}, #{shippingFee})
		</if>
		
	</insert>
	
	<select id="getRewardSelectionList" parameterType="rewardSelection" resultType="rewardSelection">
		
		SELECT *
		FROM rewardSelection
		WHERE orderNo = #{orderNo}
	
	</select>
	
	
	<resultMap type="reward" id="reward">
	
		<result column="rewardPrice" property="rewardPrice" />
		<result column="projectNo" property="projectNo" />
		<result column="rewardName" property="rewardName" />
		<result column="rewardContent" property="rewardContent" />
		<result column="rewardOption" property="rewardOption" />
		<result column="shippingNeed" property="shippingNeed" />
		<result column="rewardMonth" property="rewardMonth" />
		<result column="rewardDay" property="rewardDay" />
		
	</resultMap>


	<resultMap type="rewardSelection" id="rewardSelection">
	
		<result column="selectRewardNo" property="selectRewardNo" />
		<result column="orderNo" property="orderNo"/>
		<result column="rewardNo" property="rewardNo" />
		<result column="paymentAmount" property="paymentAmount" />
		<result column="orderAmount" property="orderAmount"/>
		<result column="shippingFee" property="shippingFee" />
		
		<collection property="reward" resultMap="reward" />
		
	</resultMap>
	
	<select id="getRewardSelectionJoinList" parameterType="rewardSelection" resultMap="rewardSelection">
	
		SELECT rewardselection.*, reward.*
		FROM rewardselection
		LEFT OUTER JOIN reward
		ON rewardselection.rewardNo = reward.rewardNo
		WHERE rewardselection.orderNo = #{orderNo}
	
	</select>
	

</mapper>
