<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMainImageChangeDAO">

	<select id="getUserMainImageChangeList" resultType="adminUserMainImageChange" parameterType="adminUserMainImageChange">
			select * from usermainimagechange ORDER BY imageNo asc
	</select>
	
</mapper>
