<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias type="com.team5.funthing.user.model.vo.MemberVO" alias="member"/>
		<typeAlias type="com.team5.funthing.user.model.vo.NoticeVO" alias="notice"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/project-mapper.xml" />
	</mappers>
</configuration>
