<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias type="com.team5.funthing.user.model.vo.MemberVO" alias="member"/>
		<typeAlias type="com.team5.funthing.user.model.vo.NoticeVO" alias="notice"/>
		<typeAlias type="com.team5.funthing.user.model.vo.ProjectVO" alias="project"/>
		<typeAlias type="com.team5.funthing.user.model.vo.BoardVO" alias="board"/>

        <typeAlias type="com.team5.funthing.user.model.vo.MemberActivityVO" alias="memberActivity"/>   

		<typeAlias type="com.team5.funthing.user.model.vo.ProjectBoardVO" alias="projectboard"/>

		<typeAlias type="com.team5.funthing.user.model.vo.ProjectAccountInformationVO" alias="projectAccountInformation"/>


		<typeAlias type="com.team5.funthing.user.model.vo.CSBoardVO" alias="csboard"/>
		<typeAlias type="com.team5.funthing.user.model.vo.DeliveryAddressVO" alias="deliveryAddress"/>
		<typeAlias type="com.team5.funthing.user.model.vo.ReportVO" alias="report"/>
		<typeAlias type="com.team5.funthing.user.model.vo.UserCreatorVO" alias="userCreator"/>
		<typeAlias type="com.team5.funthing.user.model.vo.ProjectAskMessageVO" alias="projectAskMessage"/>
		<!-- user : admin -->
		<typeAlias type="com.team5.funthing.admin.model.vo.AdminCSBoardVO" alias="adminCSBoard"/>
		<typeAlias type="com.team5.funthing.admin.model.vo.AdminNoticeBoardVO" alias="adminNoticeBoard"/>

		<typeAlias type="com.team5.funthing.admin.model.vo.AdminMemberVO" alias="adminMember"/>
		<typeAlias type="com.team5.funthing.admin.model.vo.AdminCreatorVO" alias="adminCreator"/>
    
    
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/project-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />

		<mapper resource="mappers/memberActivity-mapper.xml"/>


		<mapper resource="mappers/projectboard-mapper.xml" />

		<mapper resource="mappers/projectAccountInformation-mapper.xml"/>
		

		<mapper resource="mappers/csboard-mapper.xml" />
		<mapper resource="mappers/deliveryAddress-mapper.xml"/>
		<mapper resource="mappers/report-mapper.xml" />
		<mapper resource="mappers/userCreator-mapper.xml"/>
		<mapper resource="mappers/projectAskMessage-mapper.xml"/>
		<!-- user : admin -->
		<mapper resource="mappers/adminCSBoard-mapper.xml" />


		<mapper resource="mappers/adminNoticeBoard-mapper.xml"/>
		<mapper resource="mappers/adminLogin-mapper.xml"/>
		<mapper resource="mappers/adminCreator-mapper.xml"/>
 
	</mappers>
</configuration>
