<!doctype html>
<html class="no-js" lang="zxx">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Montana</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/jquery.gpopover.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">



    <!-- Include jQuery and the jquery.gpopover plugin -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/jquery.gpopover.js"></script>
    <script src="https://kit.fontawesome.com/7a424ad03a.js" crossorigin="anonymous"></script>

    <script>
        $(function () {


            // Use custom options for the right button
            $('#mypage-btn').gpopover({
                width: 360,
                preventHide: true,
                onShow: function () {
                    if (console && console.log) console.log("Popover shown.");
                },
                onHide: function () {
                    if (console && console.log) console.log("Popover hidden.");
                }
            });
        });
    </script>
</head>

<body>

    <!-- mypage code start -->
    <div id="popover-mypage-menu" class="gpopover">
        <div class="container">
            <div>
                <div>
                    <div class="row d-flex justify-content-between ml-2 mr-2 mt-4 pb-4">
                        <div id="profile-img" style="background: #BDBDBD;">
                            <img class="profile" src="img/test/5.jpg">
                        </div>
                        <div class="h5 login-id align-self-center">
                            닉네임
                        </div>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-around bd-highlight">
                        <div class="p-2 bd-highlight">
                            <div class="d-flex flex-column bd-highlight ">
                                <div class="p-2 bd-highlight">
                                    <div class="justify-content-center">
                                        <div class="p-2 bd-highlight">
                                            <i class="fas fa-shapes fa-3x"></i>
                                        </div>
                                        <div class="p-2 bd-highlight">
                                            <a href="show-filteredProjects.html">
                                                <div class="h6">창작한</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-2 bd-highlight">
                            <div class="d-flex flex-column bd-highlight ">
                                <div class="p-2 bd-highlight">
                                    <div class="justify-content-center">
                                        <div class="p-2 bd-highlight">
                                            <i class="fas fa-hand-holding-usd fa-3x"></i>
                                        </div>
                                        <div class="p-2 bd-highlight">
                                            <a href="show-filteredProjects.html">
                                                <div class="h6">후원한</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-2 bd-highlight">
                            <div class="d-flex flex-column bd-highlight">
                                <div class="p-2 bd-highlight">
                                    <div class="justify-content-center">
                                        <div class="p-2 bd-highlight">
                                            <i class="far fa-surprise fa-3x"></i>
                                        </div>
                                        <div class="p-2 bd-highlight">
                                            <a href="show-filteredProjects.html">
                                                <div class="h6">반응한</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-2 bd-highlight">
                            <div class="d-flex flex-column bd-highlight ">
                                <div class="p-2 bd-highlight">
                                    <div class="justify-content-center">
                                        <div class="p-2 bd-highlight">
                                            <i class="fas fa-heart fa-3x"></i>
                                        </div>
                                        <div class="p-2 bd-highlight">
                                            <a href="show-filteredProjects.html">
                                                <div class="h6">좋아한</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">보안 인증 하시면 좋데요</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                risus varius blandit.</p>
                            <small></small>
                        </a>
                    </div>
                </div>
                <div class="d-flex flex-column bd-highlight mb-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="#">
                                <div class="h6">마이페이지</div>
                            </a></li>
                        <li class="list-group-item"><a href="#">
                                <div class="h6">후원 결제내역</div>
                            </a></li>
                        <li class="list-group-item"><a href="#">
                                <div class="h6">수입내역</div>
                            </a></li>
                        <li class="list-group-item"><a href="#">
                                <div class="h6">로그아웃 하기</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- mypage code end -->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div id="sticky-header-align" class="row no-gutters">
                        <div class="d-flex justify-content-center w-100">
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="#">프로젝트 보기 <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="show-projects.html">모든 프로젝트</a></li>
                                                <li><a href="#">리워드 프로젝트</a></li>
                                                <li><a href="#">후원 프로젝트</a></li>
                                                <hr />
                                                <li><a href="#">인기 프로젝트</a></li>
                                                <li><a href="#">마감임박 프로젝트</a></li>
                                                <li><a href="#">신규 프로젝트</a></li>
                                                <hr />
                                                <li><a href="#">기획전 보러가기</a></li>
                                            </ul>
                                        <li><a href="create-project-start.html">프로젝트 올리기</a></li>
                                        <li><a href="#">더 보기 <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="#"></a></li>
                                                <li><a href="#">반응보기</a></li>
                                                <li><a href="#">elements3</a></li>
                                                <li><a href="#">elements4</a></li>
                                                <li><a href="#">elements5</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center">
                                <div class="logo-img p-2 bd-highlight">
                                    <a href="index.html">
                                        <h2 class="logo">FUN THING</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                                <div class="nav_right">

                                    <div class="search_icon ">
                                        <a class="popup-with-form" href="#search-popup"><span
                                                class="fa fa-search fa-2x pr-1"></span></a>
                                    </div>


                                    <div class="pl-3">
                                        <a class="popup-with-form" href="#">
                                            <i class="far fa-bell fa-2x pr-1"></i>
                                        </a>
                                    </div>

                                    <div class="pl-3">
                                        <i class="far fa-envelope fa-2x pr-2"></i>
                                    </div>

                                    <div class="d-none d-lg-block pl-3 pr-3">
                                        <a type="button" href="#" id="mypage-btn" data-popover="popover-mypage-menu">
                                            <img class="profile" src="img/test/5.jpg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <!-- header-end -->


    <section id="select-reward" class="container">
        <article class="back-story">
            <i class="fas fa-chevron-left"></i>
            <a href="#">스토리로 돌아가기</a>
        </article>
        <article class="select-order">
            <div class="row d-flex justify-content-center ml-2 mr-2 mt-4 pb-4">
                <div class="order-circle d-flex d-flex justify-content-center " style="background: #009DFF; border-style:dotted; border-color: gray; border-width: 3px;">
                    <div class="d-inline-flex p-2 bd-highlight align-self-center h5 p-3" style="color: whitesmoke;" >
                        리워드<br>
                        선택
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                </div>
                <div class="order-circle d-flex d-flex justify-content-center " style="background: whitesmoke; border-style:dotted; border-color: gray; border-width: 3px;">
                    <div class="d-inline-flex p-2 bd-highlight align-self-center h5 p-0" style="color: #000000;" >
                        결제 예약
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                    <i class="fas fa-ellipsis-h" style="color:gray;"></i>
                </div>
                <div class="order-circle d-flex d-flex justify-content-center " style="background: whitesmoke;">
                    <div class="d-inline-flex p-2 bd-highlight align-self-center h5 p-0" style="color: #000000;" >
                        결제 확인
                    </div>
                </div>
            </div>
        </article>



        <article class="mt-5 pb-3">
            <div class="d-flex justify-content-between">

                <div>
                    <div class="h5">리워드 선택</div>
                    <p class="card-text">펀딩 금액에 따라 리워드가 달라 집니다.</p>
                </div>
                <div class="">
                    <div class="align-self-center">
                        <p class="card-text">펀딩하기는 쇼핑하기가 아닙니다!자세히 알아보세요.</p>
                    </div>
                </div>

            </div>
        </article>

        <!-- 리워드 선택 박스-->
        <article class="pb-5">
            <div class="card wd-100">

                <!-- 리워드 선택 박스 1 [ 리워드 품목 등록 수 만큼 반복 ]-->
                <!-- !!! 선택 체크박스 클릭시 수량 및 옵션항목이 나오는 부분에 대한 문제점 처리 해야한다 -->
                <div class="row no-gutters">
                    <div class="col-md-auto align-self-start mt-5 mr-4">

                        <div class="select-checkbox">
                            <input type="checkbox" id="select-checkbox">
                            <label for="select-checkbox" class="select-reward"></label>
                        </div>
                    </div>
                    <div class="card-body">
                        <aside class=>
                            <h6 class="card-title">22,000원 펀딩합니다.[리워드 가격]</h6>
                            <p class="card-text">청춘 슈퍼 얼리버드 [리워드 이름]</p>

                            <p class="card-text">리워드 관련 설명</p>

                            <p class="card-text to-add-place">배송비 | 예상 배송일 추가안내</p>
                            
                            <div class="row">
                                <div class="col-2 to-remove-tag mt-2">
                                    <p class="card-text m-auto">수량</p>
                                    <div class="row align-items-md-center mb-4">
                                        <a href="#"> <i class="fas fa-minus ml-3"></i></a>
                                        <input class="form-control ml-2 mr-2" style="width:50px;" type="text" placeholder="">
                                        <a href="#"> <i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                                <div class="col-2 to-remove-tag mt-2">
                                    <p class="card-text m-auto">옵션</p>
                                    <select class="custom-select" style="width: 300px;">
                                        <option selected>선택하세요</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </div>
                            </div>
                            
                        </aside>
                    </div>
                </div>
            </div>
            <!-- --------------------------------------------------- -->


            <div class="card wd-100 mt-2">
                <div class="row no-gutters">
                    <div class="col-md-auto align-self-start mt-5 mr-4">
                        <div class="select-checkbox">
                            <input type="checkbox" id="select-checkbox2">
                            <label for="select-checkbox2" class="select-reward"></label>
                        </div>
                    </div>
                    <div class="card-body">
                        <aside class=>
                            <h6 class="card-title">22,000원 펀딩합니다.[리워드 가격]</h6>
                            <p class="card-text">청춘 슈퍼 얼리버드 [리워드 이름]</p>

                            <p class="card-text">리워드 관련 설명</p>

                            <p class="card-text to-add-place">배송비 | 예상 배송일 추가안내</p>
                        </aside>
                    </div>
                </div>
            </div>
        </article>

        <article class="pb-5">

            <div class="row">
                <div class="col-3">
                    <div class="h5">후원금 더하기 (선택)</div>

                </div>
                <div class="col-9">
                    <p>후원금을 더하여 펀딩할 수 있습니다. 추가 후원금을 입력하시겠습니까?</p>
                    <div class="row">
                        <input class="form-control ml-2 mr-2" style="width:200px;" type="text" placeholder="0">
                        <span>원을 추가로 후원합니다.</span>
                    </div>

                </div>


            </div>

        </article>

        <article class="pb-5">
            <div class="row">
                <div class="col-3">
                    <div class="h5">공개여부 (선택)</div>
                </div>
                <div class="col-9">
                    <p>서포터 목록에 서포터 이름과 펀딩 금액이 공개됩니다. 조용히 펀딩하고 싶으시다면, 비공개로 선택해주세요.<br>
                        커뮤니티, 새소식 댓글 작성 시에는 비공개 여부와 상관없이 펀딩 참여자 표시가 노출됩니다.</p>
                    <div class="row">
                        <div class="col-4">
                            <div class="private-name">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="private-name-check">
                                    <label class="custom-control-label" for="private-name-check">이름 비공개</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="private-funding">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="private-funding-check">
                                    <label class="custom-control-label" for="private-funding-check">펀딩금액 비공개</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </article>


        <article class="p-5 d-flex justify-content-end">
            <div class="d-inline-flex p-2 bd-highlight">
                <a href="#" class="btn btn-primary"> 다음 단계로 <i class="fas fa-angle-right"></i> </a>
            </div>
        </article>
    </section>











    <!-- footer -->
    <footer class="footer">
    </footer>

    <!-- 검색 폼 -->
    <form id="search-popup" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">

            </div>
        </div>
    </form>
    <!-- 검색폼 end -->


    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>

</body>

</html>